header {
  padding: 20px 0;
}

.logo {
  font-weight: 500; 
  flex: 1;
}

.search {
  position: relative;
  margin-right: 50px;
  &-icon {
    position: absolute;
    top: 16px;
    left: 7px;
  }
  &-input {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 300;
    padding: 14px 10px 12px 35px;
    font-size: 18px;
  }
}

.posts-link {
  display: flex;
  gap: 5px;
  color: #FF008A;
  font-size: 20px;
  font-weight: 400;
}





